body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: black;
}

canvas {
    background-image: url("res/GlobalJumperBackground.png");
    height: 80vh;
    width: 85vw;
}

h1 {
    color: #d11197;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#life {
    color: white
}