body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: black;
    position: relative;
    overflow: hidden;
}

canvas {
    background-image: url("res/Frankreich.png");
    height: 80vh;
    width: 85vw;
}

h1 {
    color: #d11197;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#life {
    color: white
}

#overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
    top: 0px;
    bottom: 0px;
    left: 50px;
    right: 50px;

    background-color: blueviolet;
}


#overlay > img {
    width: 300%;
}



.country {
fill: #d11197;

}

.Japan {

fill: #d11197;
}



.country:hover {
    fill: green;
}

.Japan:hover {
    fill: green;
}


#map {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    scale: 2;
    
    

}

#start {
    display: block;
    visibility: visible;
    display: block;
    visibility: visible;
    background-color: blue; 
  }
  
  
